.valueIncorrecto {
  color: red;
  font-size: small;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 20px;
  width: fit-content;
}
.valueCorrecto {
  color: green;
}
.NameInput {
  width: 81%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.NameInput input {
  width: 80%;
}
.CamposObligatorios {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 4px;
  font-size: smaller;
}
.CamposObligatorios p {
  color: red;
}
