.valueIncorrecto {
  color: red;
  font-size: small;
  display: flex;
  align-items: center;
  justify-items: center;
}
.valueCorrecto {
  color: green;
}
.NameInput {
  width: 81%;
  display: flex;
  flex-direction: column;
}
.NameInput input {
  width: 100%;
}
